@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'MyCustomFont_Regular';
  src: url('../../public/fonts/Freesentation-4Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MyCustomFont_Bold';
  src: url('../../public/fonts/Freesentation-7Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MyCustomFont_Logo';
  src: url('../../public//fonts/FontsFree-Net-Sonar-Hubermann-SaintRegus-SemiBoldExpanded.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --font-customRegular: 'MyCustomFont_Regular', sans-serif;
  --font-customBold: 'MyCustomFont_Bold', sans-serif;
  --font-customLogo: 'MyCustomFont_Logo', sans-serif;
}